<!DOCTYPE html>
<html>
<head>
    <title>A Youtube Video ( ͡° ͜ʖ ͡°)</title>
    <style>
        body {
            background-color: #121317;
        }

        /* Position the canvases */
        #mapCanvas, #gridCanvas, #ourPlayerCanvas, #drawCanvas, #nametagRangeCanvas {
            position: absolute;
            top: 0;
            left: 0;
            margin: 10px;
        }

        #gridCanvas, #playersCanvas, #rightCanvas {
            border: 2px solid grey;
        }

        #rightCanvas {
            position: absolute;
            top: 0;
            left: 520px; /* Position to the right of mapCanvas which is 500px wide plus margin */
            margin: 10px;
            width: 500px;
            height: 500px;
            overflow-y: auto; /* Add vertical scroll if content overflows */
            overflow-x: hidden; /* Prevent horizontal scroll */
        }

        #playersCanvas {
            position: relative; /* Change to relative to stay inside the container */
            width: 100%;
            height: 100%;
        }

        #controlsContainer {
            position: absolute;
            top: 520px;
            left: 0;
            background-color: #1a1c23;
            color: white;
            margin: 10px;
            border: 1px solid gray;
            padding: 10px;
            cursor: pointer;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            width: 500px;
            height: 300px;
            box-sizing: border-box;
        }

        .control-button {
            margin: 0;
            background-color: #1a1c23;
            color: white;
            border: 1px solid gray;
            padding: 5px;
            cursor: pointer;
            font-size: 12px;
            text-align: center;
        }

        #volumeContainer {
            display: flex;
            flex-direction: column;
            grid-column: span 3;
            align-items: center;
        }

        #volumeLabel, #volumeSlider, #playerVolumeLabel, #playerVolumeSlider, #announcerVolumeLabel, #announcerVolumeSlider {
            margin: 5px;
            font-size: 14px;
        }

        #canvasContainer {
            position: relative;
        }
    </style>
</head>
<body>
    <div id="canvasContainer">
        <canvas id="mapCanvas" width="500" height="500"></canvas>
        <canvas id="gridCanvas" width="500" height="500"></canvas>
        <canvas id="ourPlayerCanvas" width="500" height="500"></canvas>
        <div id="rightCanvas">
            <canvas id="playersCanvas" width="500" height="500"></canvas>
        </div>
        <canvas id="drawCanvas" width="500" height="500"></canvas>
        <canvas id="nametagRangeCanvas" width="500" height="500"></canvas> <!-- New canvas for nametag range -->
        <div id="controlsContainer">
            <button id="button" class="control-button">Clear the Radar</button>
            <button id="logEnemiesList" class="control-button">Log Enemies List</button>
            <button id="sonarButton" class="control-button">Enable Sonar</button>
            <button id="announcerButton" class="control-button">Enable Player Direction Announcer</button>
            <button id="showNametagRangeButton" class="control-button">Show Nametag Range</button>
            <button id="toggleGridButton" class="control-button">Disable Grid</button>
            <button id="switchPositionButton" class="control-button">Switch Position</button>
            <div id="volumeContainer">
                <label id="volumeLabel" for="volumeSlider">Sonar Volume:</label>
                <input type="range" id="volumeSlider" min="0" max="100" value="2">
                <label id="playerVolumeLabel" for="playerVolumeSlider">Player Detected Volume:</label>
                <input type="range" id="playerVolumeSlider" min="0" max="100" value="50">
                <label id="announcerVolumeLabel" for="announcerVolumeSlider">Announcer Volume:</label>
                <input type="range" id="announcerVolumeSlider" min="0" max="100" value="50"> <!-- New volume slider -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
    <script src="/scripts/Handlers/HarvestablesHandler.js"></script>
    <script src="/scripts/Handlers/ChestsHandler.js"></script>
    <script src="/scripts/Handlers/DungeonsHandler.js"></script>
    <script src="/scripts/Handlers/Map.js"></script>
    <script src="/scripts/Handlers/ItemsInfo.js"></script>
    <script src="/scripts/Handlers/FactionFlagInfo.js"></script>
    <script src="/scripts/Utils/DrawingUtils.js"></script>
    <script type="module" src="/scripts/Handlers/SpellsInfo.js"></script>
    <script type="module" src="/scripts/Utils/Utils.js"></script>
    <script>
        $(document).ready(function() {
            let nametagRangeEnabled = false;
            const nametagRangeCanvas = document.getElementById('nametagRangeCanvas');
            const nametagRangeContext = nametagRangeCanvas.getContext('2d');
            let controlsAtBottom = true;

            $('#showNametagRangeButton').click(function() {
                nametagRangeEnabled = !nametagRangeEnabled;
                $(this).text(nametagRangeEnabled ? 'Hide Nametag Range' : 'Show Nametag Range');
                drawNametagRange();
            });

            function drawNametagRange() {
                nametagRangeContext.clearRect(0, 0, nametagRangeCanvas.width, nametagRangeCanvas.height); // Clear the canvas first
                if (nametagRangeEnabled) {
                    const centerX = (nametagRangeCanvas.width / 2) + 2.5;
                    const centerY = (nametagRangeCanvas.height / 2) + 2.5;
                    const radius = 190; // Adjust the radius as needed

                    nametagRangeContext.beginPath();
                    nametagRangeContext.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
                    nametagRangeContext.strokeStyle = 'white';
                    nametagRangeContext.lineWidth = 1;
                    nametagRangeContext.stroke();
                }
            }

            // Initialize the drawing utils and grid canvas
            const settings = {};
            const drawingUtils = new DrawingUtils(settings);
            const gridCanvas = document.getElementById('gridCanvas');
            const gridContext = gridCanvas.getContext('2d');
            let gridEnabled = true;
            drawingUtils.initGridCanvas(gridCanvas, gridContext);

            // Toggle grid button click handler
            $('#toggleGridButton').click(function() {
                gridEnabled = !gridEnabled;
                if (gridEnabled) {
                    drawingUtils.initGridCanvas(gridCanvas, gridContext);
                    $('#toggleGridButton').text('Disable Grid');
                } else {
                    drawingUtils.clearGrid(gridContext, gridCanvas);
                    $('#toggleGridButton').text('Enable Grid');
                }
            });

            // Switch position button click handler
            $('#switchPositionButton').click(function() {
                controlsAtBottom = !controlsAtBottom;
                if (controlsAtBottom) {
                    $('#controlsContainer').css({ 'top': '520px', 'left': '0' });
                    $('#rightCanvas').css({ 'top': '0', 'left': '520px' });
                } else {
                    $('#controlsContainer').css({ 'top': '0', 'left': '520px' });
                    $('#rightCanvas').css({ 'top': '520px', 'left': '0' });
                }
            });
        });
    </script>
</body>
</html>
