<div class="container px-6 mx-auto grid">
    <div class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    </div>
    <div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <div>
                <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                Require Resource Map Pack
                </h4>

                <ul class="max-w-md space-y-1 text-gray-600 list-disc list-inside dark:text-gray-300">
                    <li class="flex items-center space-x-1">
                        <p>- Download the</p>
                        <span class="text-gray-800 dark:text-white font-semibold">resource map pack</span>
                    </li>
                    <li>
                        <p>- Extract the <span class="text-gray-800 dark:text-white font-semibold">Maps</span> folder into > <span class="text-gray-600 dark:text-gray-200"><i>./Albion-Online-Radar-QRadar/images/</i></span></p>
                    </li>
                    <li>
                        <p>- You should now have the current path > <span class="text-gray-600 dark:text-gray-200"><i>./Albion-Online-Radar-QRadar/images/Maps/**.png</i></span></p>
                    </li>
                    <li>
                        <p>- <span class="text-gray-800 dark:text-white font-semibold">Refresh</span> this page</p>
                    </li>
                </ul>
                
                <div class="mb-4">
                </div>
            </div>
        </div>
    </div>
</div>
